// Colors
$primary-grey: #464646;
$primary-blue: #4c58fb;
$background-color: #eff3f6;
$box-color: #ffffff;
$shadow-color: rgba(0, 0, 0, .25);
$light-grey: $background-color;
$error-color: #ff3030;

// Font
$font-stack: 'Comfortaa', 'Ubuntu', Helvetica, Arial, sans-serif;

// Layout
$row-padding: 12px;

// Other
$box-border-radius: 10px;
$box-shadow: 0 0 10px 2px rgba(0, 0, 0, .25);

$separator: 1px solid rgba(0, 0, 0, .15);
