* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font: 100% "Comfortaa", "Ubuntu", Helvetica, Arial, sans-serif;
  color: #464646;
  background-color: #eff3f6;
  min-width: 960px; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

select, button {
  font: 100% "Comfortaa", "Ubuntu", Helvetica, Arial, sans-serif;
  color: #464646;
  font-size: 0.9em; }
  select:focus, button:focus {
    outline: none; }

button {
  background-color: transparent;
  border: 1px solid #797979;
  border-radius: 5px;
  transition: background-color .2s;
  width: 100px;
  height: 25px; }
  button:hover {
    cursor: pointer; }

input[type="text"], input[type="password"] {
  font-family: "Comfortaa", "Ubuntu", Helvetica, Arial, sans-serif; }

input[type="password"] {
  font-size: 1.4em; }

.stretch {
  transition: transform .25s ease-in-out; }

.stretch:hover {
  transform: scale(1.2, 1.2); }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.turn-down {
  transform: rotate(90deg); }

.l-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 900px;
  max-width: 1600px; }

.l-row {
  width: 100%;
  display: flex;
  padding: 12px;
  justify-content: space-between; }

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%; }

.l-nav-menu {
  width: 30%;
  min-width: 300px; }

.l-dashboard {
  width: 20%; }

.l-user, .l-admin {
  width: 95%;
  margin: 25px auto;
  display: flex; }

.l-mtop15 {
  margin-top: 15px; }

.l-mr15 {
  margin-right: 15px; }

.l-mb15 {
  margin-bottom: 15px; }

.icon {
  display: inline-block;
  width: 25px;
  height: 25px; }
  .icon-small {
    display: inline-block;
    width: 15px;
    height: 15px; }
  .icon-middle {
    display: inline-block;
    width: 35px;
    height: 35px; }
  .icon-large {
    display: inline-block;
    width: 50px;
    height: 50px; }

.icon-model {
  background-image: url(../img/model25.png); }

.icon-info {
  background-image: url(../img/info25.png); }

.icon-error {
  background-image: url(../img/error25.png); }

.icon-user {
  background-image: url(../img/user35.png); }

.icon-add {
  background-image: url(../img/add25.png); }

.icon-edit {
  background-image: url(../img/edit25.png); }

.icon-exit {
  background-image: url(../img/exit35.png); }

.icon-users {
  background-image: url(../img/users50.png); }

.icon-graph {
  background-image: url(../img/graph50.png);
  background-repeat: no-repeat;
  background-position: center; }

.icon-close {
  background-image: url(../img/close15.png); }

.icon-forward {
  background-image: url(../img/forward25.png); }

.icon-image {
  background-image: url(../img/image25.png); }

.btn {
  background-color: #4c58fb;
  color: #fff;
  border: #1a29fa; }
  .btn:hover {
    background-color: #1a29fa; }

.btn-material {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #eff3f6;
  color: #464646;
  transition: all .2s; }
  .btn-material:hover {
    box-shadow: none;
    border: 1px solid #cedbe4;
    transform: translateY(2px); }
  .btn-material:disabled {
    box-shadow: none;
    color: #868686;
    border: 1px solid #868686;
    transform: none;
    cursor: auto; }

.header {
  background-color: #ffffff;
  box-shadow: 0 3px 21px 9px rgba(0, 0, 0, 0.25); }

.nav-menu ul {
  list-style: none;
  display: flex;
  width: 100%; }

.nav-menu li {
  display: flex;
  flex: 1; }

.nav-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  text-align: center;
  width: 100%;
  font-size: .9em;
  text-decoration: none;
  color: #464646; }
  .nav-menu a.active {
    cursor: default; }
    .nav-menu a.active span {
      height: 1.4em;
      border-bottom: 2px solid #464646; }
  .nav-menu a:hover:not(.active) {
    background: #eff3f6; }

.dashboard {
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.user {
  background-color: #fff;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 20px; }

.user-data {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
  margin-bottom: 15px; }
  .user-data li {
    padding-bottom: 10px;
    display: flex;
    width: 100%; }
  .user-data-key {
    width: 100px; }
  .user-data-value {
    padding-left: 20px;
    font-weight: bold; }

.user-reports-header {
  margin-bottom: 10px; }

.user-reports-value {
  display: inline-block;
  background-color: #4c58fb;
  color: white;
  padding: 3px;
  border-radius: 5px; }

.user-reports-name {
  display: flex;
  cursor: pointer; }

.user-reports-list {
  display: flex;
  flex-direction: column; }
  .user-reports-list * {
    margin-bottom: 5px; }
  .user-reports-list li {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #aec2d1; }
  .user-reports-list li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }

.user-report.closed > .user-reports-data-wrapper {
  display: none; }

.user-report .icon-forward {
  transition: transform .25s ease-in-out; }

.user-report.closed .icon-forward {
  transform: rotate(90deg); }

.user-reports-states {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; }
  .user-reports-states th, .user-reports-states td {
    border-bottom: 1px solid #9db6c8; }
  .user-reports-states th {
    height: 50px;
    vertical-align: middle;
    text-align: center;
    color: white; }
  .user-reports-states td {
    height: 40px;
    vertical-align: middle;
    padding-left: 5px;
    text-align: center; }
  .user-reports-states tr {
    transition: background-color .1s ease-in-out; }
  .user-reports-states tr:nth-child(2n) {
    background-color: #eff3f6; }
  .user-reports-states tbody tr:hover {
    background-color: #cedbe4; }
  .user-reports-states thead {
    background-color: #656ffc; }
  .user-reports-states thead th:nth-child(1) {
    width: 35%; }
  .user-reports-states thead th:nth-child(4) {
    width: 10%; }

.users {
  width: 95%;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
  padding: 10px; }

.users-table {
  width: 100%;
  display: flex;
  flex-direction: column; }

.users-table tr {
  display: flex; }
  .users-table tr td, .users-table tr th {
    flex: 1;
    padding: 10px 5px;
    display: flex;
    align-items: center; }
  .users-table tr th {
    text-align: left;
    background-color: #4c58fb;
    color: #fff; }
  .users-table tr:nth-child(2n+2) {
    background-color: #eee; }

.users-btn {
  display: flex;
  color: #fff;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  font-size: .9rem;
  justify-content: center;
  transition: background-color .2s ease-in-out; }
  .users-btn-new {
    background-color: #26972d;
    width: 200px;
    margin-bottom: 10px; }
  .users-btn-new:hover {
    background-color: #1c6e21; }
  .users-btn-edit {
    background-color: #4c58fb;
    margin-right: 10px; }
  .users-btn-edit:hover {
    background-color: #1a29fa; }
  .users-btn-delete {
    background-color: #ff3030; }
  .users-btn-delete:hover {
    background-color: #fc0000; }

.admin-sub-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }
  .admin-sub-menu li {
    display: flex;
    align-items: stretch;
    width: 48%;
    height: 150px;
    background-color: #fff;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out; }
    .admin-sub-menu li:hover {
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
      transform: translate(2px, 2px); }
    .admin-sub-menu li a {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: #464646;
      text-decoration: none; }
      .admin-sub-menu li a .icon-large {
        margin-right: 15px; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuLi9jc3MvY29tbW9uLnN0eWxlcy5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/