<div class="l-dashboard">
  <div class="dashboard">
    <a href="/user/<%= user.id %>">
      <i class="icon-middle icon-user l-mr15 stretch"></i>
    </a>
    <a href="/logout">
      <i class="icon-middle icon-exit stretch"></i>
    </a>
  </div>
</div>
