<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Document</title>

  <link rel="stylesheet" href="css/admin.styles.css">
</head>
<body>
  <div class="l-content">
    <div class="l-row l-header header">
      <% include ../partials/navMenu %>
      <% include ../partials/dashboard %>
    </div>
  </div>

  <script src="js/admin.bundle.js" type="text/javascript"></script>
</body>
</html>
