<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Admin Panel</title>

  <link rel="stylesheet" href="/css/common.styles.css">
</head>
<body>
  <div class="l-content">
    <div class="l-row l-header header">
      <% include ../partials/navMenu %>
      <% include ../partials/dashboard %>
    </div>

    <div class="l-admin">
      <ul class='admin-sub-menu'>
        <li><a href="/admin/users"><i class="icon-large icon-users"></i>Пользователи</a></li>
        <li><a href="/admin/models"><i class="icon-large icon-graph"></i>Модели</a></li>
      </ul>
    </div>

  </div>

  <script src="/js/common.bundle.js" type="text/javascript"></script>
</body>
</html>
