<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
  <title>CAD</title>

  <link rel="stylesheet" href="/css/cad.styles.css">
</head>
<body>
  <div class="l-content">
    <div class="l-row l-header header">
      <% include ../partials/navMenu %>
      <% include ../partials/dashboard %>
    </div>

    <div class="l-cad">

      <div class="l-row">
        <div class="cad-buttons">
          <div class="cad-button" id="new-state-btn"><i class="icon icon-add"></i>Добавить состояние</div>
          <div class="cad-button" id="model-props-btn"><i class="icon icon-edit"></i>Свойства модели</div>

          <div class="cad-button cad-button-save" id="save-model-btn">Сохранить</div>
        </div>
      </div>

      <div class="l-row">
        <div class="l-cad-props-tab cad-props-tab is-hidden" id="model-props-panel">
          <h5 class="panel-header">Свойства модели <i class="icon-small icon-close"></i></h5>

          <div class="panel-section">
            <label for="model-name-input">Название модели</label>
            <input type="text" id="model-name-input">
          </div>

          <div class="panel-section">
            <label for="break-time-input">Перерыв (сек.)</label>
            <input type="text" id="break-time-input">
          </div>

          <div class="panel-section">
            <label for="steps-input">Количество шагов</label>
            <input type="text" id="steps-input">
          </div>

          <!-- Add tools -->
          <div class="panel-section">
            <div class="panel-sub">
              <p class='sub-header' id="panel-tools-open">
                <i class="icon icon-forward"></i>
                Приборы:
              </p>
              <i class="icon panel-custom-icon" id="add-tool-btn"></i>
            </div>
          </div>

          <div class="panel-section panel-items-content is-hidden" id="panel-tools-list">

          </div>
        </div>

        <!-- State panel -->
        <div class="l-cad-props-tab cad-props-tab is-hidden" id="new-state-panel">
          <h5 class="panel-header">
            Свойства состояния <i class="icon-small icon-close"></i>
          </h5>

          <input type="hidden" id="current-state-id">

          <div class="panel-section">
            <label for="state-name-input">Название состояния</label>
            <input type="text" id="state-name-input">
          </div>

          <div class="panel-section initial-state-section">
            <span>Сделать начальным состоянием</span>
            <input type="checkbox" id="initial-state-checkbox">
          </div>

          <div class="panel-section">
            <label for="event-name-input">Cобытиe</label>
            <input type="text" id="event-name-input">
            <textarea id="event-description-input"></textarea>
          </div>

          <div class="panel-section">
            <select id="image-select" class="image-select">
              <% images.forEach(image => { %>
                <option value="<%= image._id %>"><%= image.name %></option>
              <% }); %>
            </select>
          </div>

          <!-- Add parameters -->
          <div class="panel-section">
            <div class="panel-sub">
              <p class='sub-header' id="panel-params-open">
                <i class="icon icon-forward"></i>
                Параметры:
              </p>
              <i class="icon panel-custom-icon" id="add-param-btn"></i>
            </div>
          </div>

          <div class="panel-section panel-items-content is-hidden" id="panel-params-list">
          </div>

          <!-- Add actions -->
          <div class="panel-section">
            <div class="panel-sub">
              <p class='sub-header' id="panel-actions-open">
                <i class="icon icon-forward"></i>
                Действия:
              </p>
              <i class="icon panel-custom-icon" id="add-action-btn"></i>
            </div>
          </div>

          <div class="panel-section panel-items-content is-hidden" id="panel-actions-list">
            <!-- Dynamic section -->
          </div>
        </div>

        <!--Cad pane-->
        <div class="l-cad-wrapper cad-wrapper" id="cad-wrapper">
          <div class="cad-pane" id="cad-pane"></div>
        </div>
      </div>

    </div>

  </div>

  <!-- <script src="libs/jsplumb.min.js" type="text/javascript"></script> -->
  <script src="js/cad.bundle.js" type="text/javascript"></script>
</body>
</html>
