<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
  <title>CAD</title>

  <link rel="stylesheet" href="/css/cad.styles.css">
</head>
<body>
  <div class="l-content">
    <div class="l-row l-header header">
      <% include ../partials/navMenu %>
      <% include ../partials/dashboard %>
    </div>

    <div class="l-cad">

      <div class="l-row">
        <div class="cad-buttons">
          <div class="cad-button" id="new-state-btn"><i class="icon icon-add"></i>Добавить состояние</div>
          <div class="cad-button" id="model-props-btn"><i class="icon icon-edit"></i>Свойства модели</div>
        </div>
      </div>

      <div class="l-row">
        <div class="l-cad-props-tab cad-props-tab is-hidden" id="model-props-panel">
          <h5 class="panel-header">Свойства модели <i class="icon-small icon-close"></i></h5>

          <div class="panel-section">
            <label for="model-name-input">Название модели</label>
            <input type="text" id="model-name-input">
          </div>

          <div class="panel-section">
            <label for="break-time-input">Перерыв (сек.)</label>
            <input type="text" id="break-time-input">
          </div>

          <div class="panel-section">
            <label for="steps-input">Количество шагов</label>
            <input type="text" id="steps-input">
          </div>

          <!-- Add tools -->
          <div class="panel-section">
            <div class="panel-sub">
              <p class='sub-header' id="panel-tools-open">
                <i class="icon icon-forward"></i>
                Приборы:
              </p>
              <i class="icon panel-custom-icon" id="add-tool-btn"></i>
            </div>
          </div>

          <div class="panel-section panel-items-content" id="panel-tools-list">

          </div>
        </div>

        <!-- State panel -->
        <div class="l-cad-props-tab cad-props-tab is-hidden" id="new-state-panel">
          <h5 class="panel-header">
            Свойства состояния <i class="icon-small icon-close"></i>
          </h5>

          <input type="hidden" id="current-state-id">

          <div class="panel-section">
            <label for="state-name-input">Название состояния</label>
            <input type="text" id="state-name-input">
          </div>

          <div class="panel-section">
            <label for="event-name-input">Cобытиe</label>
            <input type="text" id="event-name-input">
            <textarea id="event-description-input"></textarea>
          </div>

          <div class="panel-section">
            <label for="state-image-input" class="file-label" id="state-image-label">
              <i class="icon icon-image"></i>
              <span>Изображение</span>
            </label>
            <input type="file" id="state-image-input" class="file-input">
          </div>

          <!-- Add parameters -->
          <div class="panel-section">
            <div class="panel-sub">
              <p class='sub-header' id="panel-params-open">
                <i class="icon icon-forward"></i>
                Параметры:
              </p>
              <i class="icon panel-custom-icon" id="add-param-btn"></i>
            </div>
          </div>

          <div class="panel-section panel-items-content" id="panel-params-list">
          </div>

          <!-- Add actions -->
          <div class="panel-section">
            <div class="panel-sub">
              <p class='sub-header' id="panel-actions-open">
                <i class="icon icon-forward"></i>
                Действия:
              </p>
              <i class="icon panel-custom-icon" id="add-action-btn"></i>
            </div>
          </div>

          <div class="panel-section panel-items-content" id="panel-actions-list">
            <!-- Dynamic section -->
            <div class="panel-action">
              <label>Следующее состояние</label>
              <select class='next-state-select'>
                <option value="state-2">State 2</option>
                <option value="state-3">State 3</option>
              </select>

              <div class="panel-action-tools-header">
                <label>Значения приборов</label>
                <i class="icon icon-add"></i>
              </div>
              
              <div class="panel-action-tool">
                <select>
                  <option value="tool-1">Tool-1</option>
                  <option value="tool-2">Tool-2</option>
                </select>

                <div class="panel-action-tool-value">
                  <label for="action-tool-checkbox">Включен?</label>
                  <input type="checkbox" id="action-tool-checkbox">
                </div>
              </div>

              <div class="panel-action-tool">
                <select>
                  <option value="tool-1">Tool-1</option>
                  <option value="tool-2">Tool-2</option>
                </select>

                <div class="panel-action-tool-value">
                  <input type="text" placeholder="Минимум">
                  <input type="text" placeholder="Максимум">
                </div>
              </div>

            </div>
            <!-- End of dynamic section -->
          </div>
        </div>

        <!--Cad pane-->
        <div class="l-cad-wrapper cad-wrapper" id="cad-wrapper">
          <div class="cad-pane" id="cad-pane"></div>
        </div>
      </div>

    </div>

  </div>

  <script src="js/cad.bundle.js" type="text/javascript"></script>
</body>
</html>
