<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
  <title>Error <%= code %></title>

  <style>
  body {
    font: 100% "Comfortaa", "Ubuntu", Helvetica, Arial, sans-serif;
    padding-top: 50px;
  }
  h1, h2 {
    text-align: center;
  }

  </style>
</head>
<body>
  <!--<h1>Error <%= code %></h1>-->
  <h2><%= message %></h2>
</body>
</html>
