<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Learning</title>

  <link rel="stylesheet" href="css/learning.styles.css">
</head>
<body>
  <div class="l-content">
    <!-- Header -->
    <div class="l-row header">
      <div class="model-select-box">
        <span class="icon icon-model"></span>

        <select id="model-select">
          <% models.forEach(model => { %>
            <option value="<%= model.id %>"><%= model.name %></option>
          <% }) %>
        </select>

        <button class="btn" id="load-model-btn">Загрузить</button>
      </div>
    </div>


    <div class="l-row l-mtop15 content">
      <!-- Model info -->
      <div class="l-main box">
        <div class="model-header">
          <h2 class='model-name'>Загрузите модель...</h2>
          <div class="model-header-buttons">
            <button class="btn-material" id="start-btn" disabled>Старт</button>
            <button class="btn-material" id="stop-btn" disabled>Стоп</button>
          </div>
        </div>

        <div class="l-model-left">
          <div class="model-params">
            <h3 class="model-params-header">Параметры:</h3>
            <div class="model-params-values"></div>
          </div>
        </div>

        <div class="l-model-right">
          <div class="model-state">
            <h3 class="model-state-name">Lorem ipsum dolor.</h3>
            <img class="model-state-img">
          </div>

          <div class="l-event-response">
            <div class="model-event is-hidden">
              <h3 class="model-event-name"><i class="icon icon-info"></i><span></span></h3>
              <p class="model-event-info"></p>
            </div>
            <div class="model-response is-hidden"></div>
          </div>
        </div>

      </div>

      <!-- Tools -->
      <div class="l-aside box">
        <div class="tools-header">
          <h2 class="tools-name">Приборы:</h2>
          <div class="tools-header-buttons">
            <button class="btn-material" id="run-btn" disabled>Run</button>
          </div>
        </div>

        <div class="tools-list"></div>
      </div>

    </div>
  <script src='js/learning.bundle.js' type='text/javascript'></script>

</body>
</html>
