<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>

  <title>Log In</title>
  <link rel="stylesheet" href="css/login.styles.css">
</head>
<body>
  <div class="l-content">
    <div class="l-row">
      <form action="/login" class="login-form" method="POST">
        <input type="text" name="username">
        <input type="password" name="password">
        <button>Войти</button>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="js/login.bundle.js"></script>
</body>
</html>
