.header {
  background-color: $box-color;
  box-shadow: 0 3px 21px 9px rgba(0, 0, 0, .25);
}
.model-select-box {
  width: 100%;
  display: flex;

  select {
    width: calc(100% - 145px);
    max-width: 350px;
    margin: 0 10px;
  }
  button {
    width: 100px;
  }
}
