.model-header {
  @extend .box-header
}
.model-header-buttons button:first-of-type {
  margin-right: 5px;
}

// Model parameters box
.model-params {
  border-right: $separator;
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
  max-height: $max-box-height;
  overflow-y: auto;

  &-header {
    padding-bottom: 5px;
    text-shadow: 1px 1px 2px $shadow-color;
  }
}

.parameter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  padding-bottom: 3px;
  border-bottom: 1px dotted $shadow-color;

  &:first-of-type {
    margin-top: 5px;
  }
  &:last-of-type {
    border-bottom: none;
  }
  span:first-child {
    // width: calc(100% - 45px);
  }
  span:last-child {
    color: $box-color;
    background-color: $primary-blue;
    // width: 45px;
    padding: 0 5px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Model state box
.model-state {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: $separator;

  &-name {
    text-shadow: 1px 1px 2px $shadow-color;
    padding-bottom: 5px;
  }

  &-img {
    width: 100%;
    height: auto;
  }
}

// Event and response
.model-event, .model-response {
  padding: 10px;
  background-color: lighten($primary-blue, 5%);
  border-radius: 8px;
  color: $box-color;
  align-self: flex-start;

  transform: translateY(0);
  opacity: 1;
  z-index: 0;
  transition: transform .8s, opacity .8s;

  &.is-hidden {
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;

  }
}
.model-event {
  margin-left: 10px;

  &-name {
    padding-bottom: 2px;
    margin-bottom: 3px;
    border-bottom: 1px dotted rgba(255, 255, 255, .25);
    display: flex;
    align-items: center;

    .icon {
      margin-right: 5px;
    }
  }
}
