.tools-header {
  @extend .box-header
}
.tools-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
  max-height: $max-box-height;
}
// Common tool styles
.tool {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid darken($light-grey, 10%);

  &-name {
    // height: 30px;
    border-bottom: 1px dotted darken($light-grey, 10%);
    text-align: center;
  }

  &:nth-child(odd) {
    border-right: 1px solid darken($light-grey, 10%);
    padding-right: 5px;
  }
  &:nth-child(even) {
    padding-left: 5px;
  }
}


// Range tool
.range {
  display: flex;
  align-items: center;

  margin-top: 10px;

  span {
    display: inline-block;

    &:first-child {
      padding-right: 5px;
    }
    &:last-child {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  input {
    display: inline-block;
    flex: 1;
  }
}
.range-current-value {
  display: flex;
  justify-content: center;

  span {
    display: inline-block;
    color: #fff;
    background-color: $primary-blue;
    height: 25px;
    padding: 5px;
    margin-top: 3px;
    border-radius: 5px;
  }
}

// Switch tool
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  margin: 10px auto;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: .4s;
  border-radius: 50%;
}
.slider:after {
  position: absolute;
  content: "off";
  height: 26px;
  width: 26px;
  right: 2px;
  bottom: 0px;
  color: #fff;
  font-size: .9em;
}
input:checked + .slider {
  background-color: $primary-blue;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
input:checked + .slider:after {
  content: "on";
  left: 6px;
}
