.l-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 900px;
  max-width: 1600px;
}
.l-row {
  width: 100%;
  display: flex;
  padding: $row-padding;
  justify-content: space-between;
}
.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
}
.l-nav-menu {
  width: 30%;
  min-width: 300px;
}
.l-dashboard {
  width: 20%;
}
.l-user, .l-admin {
  width: 95%;
  margin: 25px auto;
  display: flex;
}
// Helpers
.l-mtop15 {
  margin-top: 15px;
}
.l-mr15 {
  margin-right: 15px;
}
