.l-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 900px;
  max-width: 1600px;
}
.l-row {
  width: 100%;
  display: flex;
  padding: $row-padding;
  justify-content: space-between;
}
.l-main {
  width: calc(60% - 20px);
}
.l-aside {
  width: 40%;
}
// Helpers
.l-mtop15 {
  margin-top: 15px;
}
