.l-model-select {
  display: flex;
  width: 40%;
}
.l-main {
  width: calc(60% - 20px);
}
.l-aside {
  width: 40%;
}
.l-model-left {
  width: 33%;
}
.l-model-right {
  width: 67%;
}
.l-event {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}
.l-event div {
  width: calc(50% - 10px);
}
