.admin-sub-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  li {
    display: flex;
    align-items: stretch;
    width: 48%;
    height: 150px;
    background-color: #fff;
    box-shadow: 0 0 4px 4px $shadow-color;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;

    &:hover {
      box-shadow: 0 0 1px 1px $shadow-color;
      transform: translate(2px, 2px);
    }

    a {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: $primary-grey;
      text-decoration: none;

      .icon-large {
        margin-right: 15px;
      }
    }
  }
}
