.users {
  width: 95%;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 0 0 2px 2px $shadow-color;
  padding: 10px;
}
.users-table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.users-table tr {
  display: flex;

  td, th {
    flex: 1;
    padding: 10px 5px;
    display: flex;
    align-items: center;
  }
  th {
    text-align: left;
    background-color: $primary-blue;
    color: #fff;
  }

  &:nth-child(2n+2) {
    background-color: #eee;
  }
}
.users-btn {
  display: flex;
  color: $primary-grey;
  height: 35px;
  padding: 5px;
  border: 1px solid $primary-grey;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  font-size: .9rem;
  justify-content: center;
  transition: background-color .2s ease-in-out;

  &-new {
    background-color: $primary-blue;
    color: #fff;
    border: none;
    width: 200px;
    margin-bottom: 10px;
  }
  &-new:hover {
    background-color: darken($primary-blue, 10%);
  }

  &-edit {
    background-color: #fff;
    margin-right: 10px;
  }
  &-edit:hover {
    color: #fff;
    background-color: lighten($primary-grey, 15%);
  }

  &-delete {
    background-color: #fff;
  }
  &-delete:hover {
    color: #fff;
    background-color: lighten($primary-grey, 15%);
  }
}
