.user {
  background-color: #fff;
  box-shadow: 0 0 3px 3px $shadow-color;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.user-data {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px dotted $shadow-color;
  margin-bottom: 15px;

  li {
    padding-bottom: 10px;
    display: flex;
    width: 100%;
  }

  &-key {
    width: 100px;
  }
  &-value {
    padding-left: 20px;
    font-weight: bold;
  }
}

.user-reports {

  &-header {
    margin-bottom: 10px;
  }
  &-value {
    display: inline-block;
    background-color: $primary-blue;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }
}
.user-reports-list {
  display: flex;
  flex-direction: column;
  * {
    margin-bottom: 5px;
  }

  li {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted darken($light-grey, 20%);
  }
  li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
.user-reports-states {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th, td {
    border-bottom: 1px solid darken($light-grey, 25%);
  }

  th {
    height: 50px;
    vertical-align: middle;
    text-align: center;
    color: white;
  }
  td {
    height: 40px;
    vertical-align: middle;
    padding-left: 5px;
    text-align: center;
  }
  tr {
    transition: background-color .1s ease-in-out;
  }
  tr:nth-child(2n) {
    background-color: $light-grey;
  }
  tbody tr:hover {
    background-color: darken($light-grey, 10%);
  }

  thead {
    background-color: lighten($primary-blue, 5%);
  }
  thead th:nth-child(1) {
    width: 35%;
  }
  thead th:nth-child(4) {
    width: 10%;
  }
}
