.cad-wrapper {
  background-color: #fff;
  box-shadow: 0 0 2px 2px $shadow-color;
  overflow: scroll;
  position: relative;
}
.cad-wrapper::-webkit-scrollbar {
  width: 10px; height: 10px;
  background-color: $light-grey;
}

.cad-wrapper::-webkit-scrollbar-thumb {
  background-color: $shadow-color;
  border-radius: 5px;
  cursor: pointer;
}

$gridSize: 75px;
$subdivisions: 5;
.cad-pane {
  width: 3000px;
  height: 1000px;
  background-image:
    linear-gradient(rgba($primary-grey, .25) 1px, transparent 1px), /*sub horiz*/
    linear-gradient(rgba($primary-grey,  .35) 1px, transparent 1px), /*main horiz*/
    linear-gradient(90deg, rgba($primary-grey, .25) 1px, transparent 1px), /*sub vert*/
    linear-gradient(90deg, rgba($primary-grey, .35) 1px, transparent 1px) /*main vert*/
    ;
  background-size:
    $gridSize / $subdivisions $gridSize / $subdivisions,
    $gridSize $gridSize,
    $gridSize / $subdivisions $gridSize / $subdivisions,
    $gridSize $gridSize
}
