.btn {
  background-color: $primary-blue;
  color: #fff;
  border: darken($primary-blue, 10%);

  &:hover {
    background-color: darken($primary-blue, 10%);
  }
}

.btn-material {
  background-color: $box-color;
  border: none;
  box-shadow: 0 0 4px 1px $shadow-color;
  border: 1px solid $light-grey;
  color: $primary-grey;
  transition: all .2s;

  &:hover {
    box-shadow: none;
    border: 1px solid darken($light-grey, 10%);
    transform: translateY(2px);
  }

  &:disabled {
    box-shadow: none;
    color: lighten($primary-grey, 25%);
    border: 1px solid lighten($primary-grey, 25%);
    transform: none;
  }
}
